################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/nac_cine/.vs/nac_cine
/.vs/nac_cine_nuevo/FileContentIndex/564a9a48-77d7-4049-bb8e-5f565cc41f47.vsidx
/.vs/nac_cine_nuevo/FileContentIndex/e54750db-b299-4df0-ac3f-eb108b8f617c.vsidx
/.vs/nac_cine_nuevo/FileContentIndex/daaa084e-d07e-4d01-8465-5feb86c2d93f.vsidx
*.vsidx
